.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  font-size: 1.6em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-blue-nav);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-blue-nav);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* Animate it on hover */
.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
